<a href="https://colab.research.google.com/github/Daniel-Benson-Poe/66DaysOfData/blob/main/Pandas_MiniCourse_on_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating, Reading, and Writing Pandas

In [ ]:
# We must first always import pandas
# We use pd as a shortcut se we don't have to keep typing out the whole word
import pandas as pd

###The DataFrame

A dataframe is a table containing an array of entries with certain values. Every entry corresponds to a row and a column.

In [ ]:
pd.DataFrame(
    {"Yes": [50, 21], 
     "No" : [131, 2]}
)

   Yes   No
0   50  131
1   21    2

DataFrames can also contain strings as values instead

In [ ]:
pd.DataFrame(
    {"Bob" : ["I liked it.", "It was awful."], 
     "Sue" : ["Pretty good.", "Bland."]}
)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

Declaration syntax for DataFrames is a dictionary having its keys as the column names and having values as the list of entries

The default when creating a DataBase is to have the row labels simply (0, 1, 2...) but we can specify how we want the rows labeled if we want

In [ ]:
pd.DataFrame(
    {"Bob" : ["I liked it.", "It was awful."], 
     "Sue" : ["Pretty good.", "Bland."]},
     index=["Product A", "Product B"]
)

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

###Series

A series is a sequence of data values. A Series is to a list as a DataFrame is to a table

In [ ]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is a single column of a DataFrame. This means we can assign row labels to the Series using an index but the Series does not have an actual column name, only its overall name.

In [ ]:
pd.Series(
    [30, 35, 40],
    index=["2015 Sales", "2016 Sales", "2017 Sales"],
    name="Product A"
)

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

A csv file is a file containing the raw data of some database. We can read in these csv files and immediately create a DataBase out of them.

In [ ]:
wine_reviews = pd.read_csv("/content/winemag-data-130k-v2.csv")

In [ ]:
# We use the shape attribute to check how large a DataFrame is
wine_reviews.shape

(129971, 14)

The shape above tells us that there are about 130,000 records split across 14 different columns

In [ ]:
# We can exampine the contents of a DataFrame using head(); this will show us the first five rows of data
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [ ]:
# We can specify in the read_csv function to use the 'country' column for the 
# index instead of creating a new one from scratch, which is usually the default
wine_reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Your Turn

In [ ]:
# Initial Setup
import pandas as pd
print("Setup complete.")

Setup complete.

In the cell below, create a DataFrame fruits that looks like this:

    |Apples  |  Bananas |
    |-------------------|
    | 30     |   21     |
    |-------------------|

In [ ]:
fruits = pd.DataFrame(
    {"Apples" : [30],
     "Bananas" : [21]}
)
fruits

   Apples  Bananas
0      30       21

Create a dataframe fruit_sales that matches the diagram below:

````        
             | Apples  | Bananas |    
             |-------------------|    
 2017 Sales  | 35     |   21     |    
             |-------------------|    
 2018 Sales  | 41     |   34     |    
             |-------------------|    
````

In [ ]:
fruit_sales = pd.DataFrame(
    {
        "Apples": [35, 41],
        "Bananas": [21, 34]
     },
     index=["2017 Sales", "2018 Sales"]
)

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

Create a variable ingredients with a Series that looks like:

Flour     4 cups

Milk       1 cup

Eggs     2 large

Spam       1 can

Name: Dinner, dtype: object

In [ ]:
ingredients = pd.Series(
    ["4 cups", "1 cup", "2 large", "1 can"],
    index = ["Flour", "Milk", "Eggs", "Spam"],
    name="Dinner"
)
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Read the csv dataset of wine reviews into a DataFrame called reviews

In [ ]:
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Run the cell below to create and display a DataFrame called animals:

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name cows_and_goats.csv.

In [ ]:
animals.to_csv('/content/cows_and_goats.csv')

# Indexing, Selecting, And Assigning

In [ ]:
# Imports and Initial Setup
import pandas as pd
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

In [ ]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
# Access property of object by accessing it as attribute
reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
# We can treat the columns of a DataFrame like we would treat the values of a dictionary and perform indexing
reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
# We can push this indexing even further to select just one of the instances
reviews['country'][0]

'Italy'

In [ ]:
# Inexing in pandas can be a bit different
# We have index-based selection which is selecting data based on 
# numerical position in the data; to do this we use iloc
reviews.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [ ]:
# In pandas it is actually easier to retrieve rows, which shows up first 
# when using iloc and loc and harder to retrieve columsn which show up second
# whereas with pandas it is actually the opposite
# In pandas, to get a column with iloc:
reviews.iloc[:,0] # select all rows from beginning to end, and the first column

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
reviews.iloc[:3, 0] # select rows from beginning to index 3 and the first column

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [ ]:
reviews.iloc[1:3, 0] # Select rows from index 1 and 3 and the first column

1    Portugal
2          US
Name: country, dtype: object

In [ ]:
# We can also pass a list when indexing
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [ ]:
reviews.iloc[[0, 5, 10], 0]

0     Italy
5     Spain
10       US
Name: country, dtype: object

In [ ]:
# Also like working with dictionaries, we can use negatives to make selection
# start counting from the end of the values instead of the beginning
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
# We can use loc followed by the attribute or columns's label to select it
# In this, the data index value and NOT the position matters
reviews.loc[0, 'country']

'Italy'

In [ ]:
# .loc tends to be easier to use when working with a database because it 
# organizes things into indices instead of a matrix
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

               taster_name taster_twitter_handle  points
0            Kerin O’Keefe          @kerinokeefe      87
1               Roger Voss            @vossroger      87
2             Paul Gregutt           @paulgwine       87
3       Alexander Peartree                   NaN      87
4             Paul Gregutt           @paulgwine       87
...                    ...                   ...     ...
129966  Anna Lee C. Iijima                   NaN      90
129967        Paul Gregutt           @paulgwine       90
129968          Roger Voss            @vossroger      90
129969          Roger Voss            @vossroger      90
129970          Roger Voss            @vossroger      90

[129971 rows x 3 columns]

Excerpt from Kaggle:

"When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values Apples, ..., Potatoes, ..., and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index df.loc['Apples':'Potatoes'] than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].

Otherwise, the semantics of using loc are the same as those for iloc."

In [ ]:
# We can also manipulate the index
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
reviews.set_index("title")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...
Dr. H. Thanisch (Erben Müller-Burggraef) 2013 Brauneberger Juffer-Sonnenuhr Spätlese Riesling (Mosel),Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
Citation 2004 Pinot Noir (Oregon),US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Pinot Noir,Citation
Domaine Gresser 2013 Kritt Gewurztraminer (Alsace),France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Gewürztraminer,Domaine Gresser
Domaine Marcel Deiss 2012 Pinot Gris (Alsace),France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Pinot Gris,Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace),France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Gewürztraminer,Domaine Schoffit

In [ ]:
# We can actually select some data based on certain conditions
reviews.country == 'Italy'

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [ ]:
# The result of the above can be used inside of a loc to select the data we want
reviews.loc[reviews.country=="Italy"]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [ ]:
# We can break down the data even further by adding more conditionals
reviews.loc[(reviews.country=="Italy") & (reviews.points>=90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [ ]:
reviews.loc[(reviews.country=="Italy") | (reviews.points>=90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
# We can use pandas' isin to select data with values in a list of values
reviews.loc[reviews.country.isin(["Italy", 'France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart
129965,France,"While it's rich, this beautiful dry wine also ...",Seppi Landmann Vallée Noble,90,28.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Rieflé-Landmann 2013 Seppi Landmann Va...,Pinot Gris,Domaine Rieflé-Landmann
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
# We can check for null values or only select the values that are not null
reviews.loc[reviews.price.notnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [ ]:
# We can assign data to a DataFrame easy enough
reviews['critic'] = 'everyone'
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),everyone
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,everyone
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,everyone
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone

In [ ]:
reviews['index-backwards'] = range(len(reviews), 0, -1)
reviews['index-backwards']

0         129971
1         129970
2         129969
3         129968
4         129967
           ...
129966         5
129967         4
129968         3
129969         2
129970         1
Name: index-backwards, Length: 129971, dtype: int64

##Your Turn

In [ ]:
# Lets make sure to reset our DataFrame
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

In [ ]:
# We are also going to set some options for display
pd.set_option("display.max_rows", 5)

In [ ]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Select the description column from reviews and assign the result to the variable desc.

In [ ]:
desc = reviews['description']
desc

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
                                ...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

What is the object type of desc?

In [ ]:
type(desc)

pandas.core.series.Series

Select the first value from the description column of reviews, assigning it to variable first_description.

In [ ]:
first_description = reviews.description.iloc[0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

In [ ]:
first_row = reviews.iloc[0]
first_row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

In [ ]:
first_descriptions = pd.Series(reviews.description.iloc[:10])
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
                           ...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

In [ ]:
sample_reviews = reviews.iloc[[1, 2, 3, 5, 8]]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100. In other words, generate the following DataFrame:

In [ ]:
df = reviews.iloc[[0, 1, 10, 100]][['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

Create a variable df containing the country and variety columns of the first 100 records.

Hint: you may use loc or iloc. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded.  loc, meanwhile, indexes inclusively.

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.iloc[0:999].

In [ ]:
df = reviews.iloc[:100][['country', 'variety']]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

Create a DataFrame italian_wines containing reviews of wines made in Italy. Hint: reviews.country equals what?

In [ ]:
italian_wines = reviews.loc[reviews.country == "Italy"]
italian_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [ ]:
top_oceania_wines = reviews.loc[(reviews.points >= 95) & ((reviews.country == "Australia") | (reviews.country == "New Zealand"))]
top_oceania_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122507,New Zealand,"This blend of Cabernet Sauvignon (62.5%), Merl...",SQM Gimblett Gravels Cabernets/Merlot,95,79.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Squawking Magpie 2014 SQM Gimblett Gravels Cab...,Bordeaux-style Red Blend,Squawking Magpie
122939,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2013 The Factor Shiraz (Barossa Valley),Shiraz,Torbreck

# Summary Functions and Maps

In [ ]:
# Initial imports and read in data
import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

In [ ]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

The describe() function creates a summary of all the attibutes of a given column. The output changes based on the data type of the input. The default generally only makes sense for numerical data.

In [ ]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [ ]:
# We have to only include a string column to see what the string output looks like
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [ ]:
# We can see the mean of a specific column
reviews.points.mean()

88.44713820775404

In [ ]:
# We can select a list of unique values
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [ ]:
# We can see a list of unique follows AS WELL as how often they joccur in the dataset
reviews.taster_name.value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

###Maps

A map takes a set of values and "maps" them to another set of values. There are two methods available: map() and apply().

In [ ]:
# map() is used for a Series
# If we wanted to remean the scores the wines recieved to 0:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [ ]:
# map() returns a new Series where all values have been transformed by your function

In [ ]:
# apply() is equivalent for transforming an entire DataFrame
def remean_points(row):
  row.points = row.points - review_points_mean
  return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In the above, if instead of inputting axis='columns' we had put axis='index' we would be ransforming each column instead of each row.

Keep in mind that map() and apply() do not change the original Series or DataFrame, they simply return a NEW Series or DataFrame with the changes made. The originals are still the same

In [ ]:
# However, pandas allows us a faster way to remean our points column
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

Pandas looks at the above code and determines that our meaning is to subtract the mean value from every value in the dataset

In [ ]:
# Pandas can also combine country and region in the dataset; it knows to perform the operations between Series of equal length
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

The built-in pandas operators are acctually faster than map() and apply() due to built-in speed ups, but they are not as flexible as map() and apply().

## Your Turn

In [ ]:
# Initial setup
import pandas as pd
pd.set_option("display.max_rows", 5)
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87.0,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87.0,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87.0,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87.0,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87.0,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

What is the median of the points column in the reviews DataFrame?

In [ ]:
median_points = reviews.points.median()
median_points

88.0

What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [ ]:
countries = reviews.country.unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country.

In [ ]:
reviews_per_country = reviews.country.value_counts()
reviews_per_country

US        49609
France    20186
          ...
China         1
Egypt         1
Name: country, Length: 43, dtype: int64

Create variable centered_price containing a version of the price column with the mean price subtracted.

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [ ]:
centered_price = reviews.price - reviews.price.mean()
centered_price

0               NaN
1        -20.262121
            ...
118559   -28.262121
118560          NaN
Name: price, Length: 118561, dtype: float64

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [ ]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
# Create point to price ratio variable
point_to_price_ratio = reviews.points / reviews.price
point_to_price_ratio

0               NaN
1          5.800000
            ...
118559    12.142857
118560          NaN
Length: 118561, dtype: float64

In [ ]:
type(point_to_price_ratio)

pandas.core.series.Series

In [ ]:
point_to_price_ratio.tolist()

[nan,
 5.8,
 6.214285714285714,
 6.6923076923076925,
 1.3384615384615384,
 5.8,
 5.4375,
 3.625,
 7.25,
 3.2222222222222223,
 4.578947368421052,
 2.9,
 2.5588235294117645,
 nan,
 7.25,
 3.625,
 2.9,
 6.6923076923076925,
 3.107142857142857,
 2.71875,
 3.782608695652174,
 4.35,
 4.578947368421052,
 3.9545454545454546,
 2.4857142857142858,
 1.2608695652173914,
 6.6923076923076925,
 8.7,
 5.117647058823529,
 5.375,
 nan,
 nan,
 nan,
 1.72,
 4.3,
 1.72,
 5.733333333333333,
 4.095238095238095,
 7.818181818181818,
 7.166666666666667,
 5.0588235294117645,
 3.909090909090909,
 9.555555555555555,
 6.142857142857143,
 9.555555555555555,
 2.15,
 6.615384615384615,
 6.615384615384615,
 5.375,
 6.142857142857143,
 nan,
 3.8636363636363638,
 6.071428571428571,
 5.666666666666667,
 nan,
 2.8333333333333335,
 6.071428571428571,
 6.538461538461538,
 6.538461538461538,
 1.5636363636363637,
 0.86,
 5.0588235294117645,
 3.44,
 1.4827586206896552,
 3.3076923076923075,
 3.5833333333333335,
 5.733333333333333,
 1.8695652173913044,
 7.166666666666667,
 1.5636363636363637,
 7.166666666666667,
 2.15,
 2.6875,
 1.1466666666666667,
 1.5636363636363637,
 1.1466666666666667,
 9.555555555555555,
 4.777777777777778,
 3.44,
 nan,
 7.166666666666667,
 5.375,
 7.818181818181818,
 4.3,
 3.5833333333333335,
 8.6,
 4.3,
 1.5636363636363637,
 2.9655172413793105,
 4.631578947368421,
 3.8260869565217392,
 4.888888888888889,
 1.6,
 7.333333333333333,
 4.0,
 4.4,
 4.888888888888889,
 4.4,
 2.933333333333333,
 1.1733333333333333,
 4.888888888888889,
 4.35,
 4.35,
 4.833333333333333,
 5.4375,
 6.214285714285714,
 2.9,
 4.833333333333333,
 3.3461538461538463,
 2.9,
 3.782608695652174,
 1.0235294117647058,
 5.8,
 4.578947368421052,
 4.833333333333333,
 4.833333333333333,
 3.48,
 1.9772727272727273,
 1.0875,
 1.15,
 1.3142857142857143,
 2.5555555555555554,
 2.358974358974359,
 2.3,
 2.0444444444444443,
 2.022222222222222,
 1.8958333333333333,
 7.0,
 5.352941176470588,
 3.64,
 1.3,
 4.55,
 3.033333333333333,
 1.338235294117647,
 1.1666666666666667,
 1.5166666666666666,
 1.82,
 nan,
 9.0,
 0.8035714285714286,
 3.4615384615384617,
 2.0,
 5.294117647058823,
 1.0714285714285714,
 1.0705882352941176,
 1.421875,
 1.338235294117647,
 1.338235294117647,
 5.6875,
 2.6,
 3.64,
 3.033333333333333,
 1.6545454545454545,
 1.9782608695652173,
 1.82,
 2.5277777777777777,
 6.5,
 3.5,
 2.3947368421052633,
 nan,
 2.6,
 2.6,
 3.25,
 nan,
 3.1379310344827585,
 2.84375,
 3.64,
 3.25,
 0.9578947368421052,
 2.0681818181818183,
 3.033333333333333,
 4.136363636363637,
 4.55,
 2.3947368421052633,
 4.631578947368421,
 3.52,
 1.76,
 4.0,
 3.52,
 3.259259259259259,
 3.8260869565217392,
 2.4444444444444446,
 nan,
 7.333333333333333,
 2.5142857142857142,
 5.866666666666666,
 2.2,
 1.8333333333333333,
 8.0,
 7.909090909090909,
 3.3461538461538463,
 2.9,
 4.35,
 2.4857142857142858,
 nan,
 2.4857142857142858,
 4.833333333333333,
 3.9130434782608696,
 1.5,
 3.2142857142857144,
 nan,
 1.4516129032258065,
 1.8,
 3.2142857142857144,
 3.0,
 3.6,
 3.6,
 2.8125,
 2.25,
 5.625,
 4.5,
 2.8125,
 2.25,
 1.875,
 2.5,
 1.125,
 1.5789473684210527,
 4.5,
 4.5,
 2.5,
 2.25,
 2.25,
 nan,
 nan,
 4.090909090909091,
 3.6,
 4.5,
 5.666666666666667,
 6.071428571428571,
 4.722222222222222,
 5.3125,
 8.5,
 7.083333333333333,
 3.0357142857142856,
 8.5,
 1.7346938775510203,
 1.0,
 4.722222222222222,
 2.9310344827586206,
 2.361111111111111,
 9.444444444444445,
 2.5,
 5.666666666666667,
 2.8333333333333335,
 6.538461538461538,
 7.083333333333333,
 5.666666666666667,
 3.4,
 1.8888888888888888,
 4.722222222222222,
 1.7346938775510203,
 3.8636363636363638,
 2.4285714285714284,
 5.666666666666667,
 1.9777777777777779,
 1.6181818181818182,
 4.45,
 4.944444444444445,
 2.5428571428571427,
 6.846153846153846,
 2.225,
 2.4054054054054053,
 2.282051282051282,
 1.4833333333333334,
 4.684210526315789,
 2.225,
 6.357142857142857,
 2.225,
 2.4722222222222223,
 5.235294117647059,
 3.56,
 5.933333333333334,
 3.423076923076923,
 4.684210526315789,
 6.846153846153846,
 2.966666666666667,
 4.45,
 2.966666666666667,
 1.78,
 1.7115384615384615,
 3.8333333333333335,
 2.7058823529411766,
 2.2439024390243905,
 1.7692307692307692,
 0.42790697674418604,
 nan,
 1.5333333333333334,
 2.3,
 nan,
 0.736,
 nan,
 nan,
 2.0444444444444443,
 1.3142857142857143,
 3.066666666666667,
 2.4857142857142858,
 4.35,
 5.8,
 4.578947368421052,
 nan,
 3.107142857142857,
 6.214285714285714,
 nan,
 1.5535714285714286,
 nan,
 3.625,
 12.428571428571429,
 2.9,
 4.833333333333333,
 4.35,
 4.833333333333333,
 4.833333333333333,
 2.175,
 nan,
 3.107142857142857,
 5.733333333333333,
 nan,
 nan,
 4.777777777777778,
 4.3,
 3.909090909090909,
 5.375,
 4.777777777777778,
 2.4571428571428573,
 7.166666666666667,
 7.818181818181818,
 5.733333333333333,
 4.777777777777778,
 5.375,
 2.5294117647058822,
 2.15,
 5.733333333333333,
 4.526315789473684,
 4.777777777777778,
 2.0476190476190474,
 5.733333333333333,
 2.3714285714285714,
 5.1875,
 7.454545454545454,
 6.3076923076923075,
 4.555555555555555,
 1.7083333333333333,
 7.454545454545454,
 4.05,
 4.2105263157894735,
 0.2857142857142857,
 0.28,
 0.12516129032258064,
 0.97,
 0.4311111111111111,
 0.6466666666666666,
 0.3,
 1.411764705882353,
 0.1523809523809524,
 0.26301369863013696,
 1.411764705882353,
 1.1176470588235294,
 0.2714285714285714,
 1.4393939393939394,
 0.8636363636363636,
 0.76,
 1.5833333333333333,
 0.475,
 0.25,
 1.9791666666666667,
 1.5833333333333333,
 4.190476190476191,
 8.8,
 8.0,
 4.190476190476191,
 0.55,
 3.8260869565217392,
 8.8,
 5.866666666666666,
 4.631578947368421,
 2.2,
 4.888888888888889,
 nan,
 4.888888888888889,
 5.866666666666666,
 7.333333333333333,
 8.0,
 5.866666666666666,
 9.777777777777779,
 2.933333333333333,
 4.888888888888889,
 2.588235294117647,
 5.176470588235294,
 3.52,
 5.866666666666666,
 7.333333333333333,
 6.285714285714286,
 7.25,
 7.909090909090909,
 7.25,
 nan,
 5.3125,
 5.666666666666667,
 6.538461538461538,
 3.5416666666666665,
 6.538461538461538,
 4.473684210526316,
 7.7272727272727275,
 5.666666666666667,
 1.8888888888888888,
 4.473684210526316,
 2.8333333333333335,
 6.071428571428571,
 5.666666666666667,
 4.25,
 4.25,
 7.083333333333333,
 4.25,
 6.538461538461538,
 5.3125,
 6.071428571428571,
 6.071428571428571,
 nan,
 nan,
 4.45,
 nan,
 2.966666666666667,
 4.45,
 3.869565217391304,
 2.966666666666667,
 4.944444444444445,
 4.944444444444445,
 2.5428571428571427,
 5.235294117647059,
 2.119047619047619,
 2.966666666666667,
 3.7083333333333335,
 5.5625,
 3.2962962962962963,
 1.0,
 nan,
 5.933333333333334,
 1.6481481481481481,
 5.933333333333334,
 2.119047619047619,
 2.3421052631578947,
 7.416666666666667,
 2.5428571428571427,
 2.75,
 7.333333333333333,
 3.142857142857143,
 4.4,
 6.285714285714286,
 4.631578947368421,
 2.358974358974359,
 nan,
 2.6285714285714286,
 nan,
 1.3333333333333333,
 3.066666666666667,
 2.3,
 4.0,
 2.0444444444444443,
 1.84,
 0.92,
 1.84,
 3.1724137931034484,
 1.393939393939394,
 1.5333333333333334,
 0.8,
 1.3333333333333333,
 nan,
 1.4153846153846155,
 2.1904761904761907,
 3.4074074074074074,
 1.3142857142857143,
 1.2602739726027397,
 1.2777777777777777,
 2.7058823529411766,
 nan,
 0.7076923076923077,
 1.0454545454545454,
 1.4153846153846155,
 nan,
 5.8,
 1.9333333333333333,
 4.833333333333333,
 1.45,
 7.25,
 7.25,
 6.6923076923076925,
 6.6923076923076925,
 5.8,
 4.833333333333333,
 6.6923076923076925,
 4.578947368421052,
 4.833333333333333,
 2.9,
 2.4857142857142858,
 7.25,
 4.833333333333333,
 3.48,
 2.9,
 5.117647058823529,
 4.35,
 7.909090909090909,
 5.8,
 4.833333333333333,
 4.578947368421052,
 5.8,
 5.4375,
 7.25,
 3.107142857142857,
 3.107142857142857,
 1.4,
 1.8958333333333333,
 1.3,
 1.5423728813559323,
 1.011111111111111,
 2.6,
 1.2133333333333334,
 1.6545454545454545,
 1.6545454545454545,
 1.5166666666666666,
 2.5277777777777777,
 2.6,
 2.6,
 1.6545454545454545,
 1.4,
 2.6,
 1.8571428571428572,
 1.6545454545454545,
 3.033333333333333,
 2.1666666666666665,
 2.022222222222222,
 3.7916666666666665,
 1.82,
 1.82,
 1.82,
 2.3947368421052633,
 4.136363636363637,
 1.82,
 0.8272727272727273,
 2.022222222222222,
 2.2142857142857144,
 1.55,
 2.2142857142857144,
 3.1,
 1.24,
 1.7222222222222223,
 1.0941176470588236,
 1.86,
 0.62,
 1.0941176470588236,
 1.0333333333333334,
 2.657142857142857,
 2.0217391304347827,
 4.65,
 2.2142857142857144,
 2.325,
 1.24,
 1.0568181818181819,
 2.325,
 3.72,
 1.9375,
 2.066666666666667,
 1.86,
 1.4307692307692308,
 1.9375,
 1.5,
 0.93,
 1.7547169811320755,
 1.690909090909091,
 1.3285714285714285,
 2.3421052631578947,
 1.78,
 3.56,
 5.933333333333334,
 6.357142857142857,
 8.090909090909092,
 6.357142857142857,
 2.4054054054054053,
 5.235294117647059,
 5.933333333333334,
 6.846153846153846,
 4.944444444444445,
 3.423076923076923,
 4.944444444444445,
 2.78125,
 4.944444444444445,
 3.56,
 4.944444444444445,
 4.45,
 4.944444444444445,
 nan,
 5.235294117647059,
 6.846153846153846,
 2.1707317073170733,
 5.5625,
 4.45,
 2.966666666666667,
 6.846153846153846,
 3.7083333333333335,
 2.4722222222222223,
 4.35,
 4.578947368421052,
 5.8,
 1.2608695652173914,
 2.4166666666666665,
 2.4857142857142858,
 2.9,
 3.48,
 3.48,
 5.8,
 4.35,
 5.117647058823529,
 1.6111111111111112,
 2.175,
 7.25,
 4.578947368421052,
 7.909090909090909,
 1.9333333333333333,
 3.48,
 2.4857142857142858,
 5.4375,
 4.35,
 3.107142857142857,
 3.48,
 3.107142857142857,
 4.35,
 5.8,
 3.782608695652174,
 4.578947368421052,
 2.6285714285714286,
 1.2266666666666666,
 1.9166666666666667,
 1.7037037037037037,
 2.7058823529411766,
 1.5333333333333334,
 1.9166666666666667,
 3.2857142857142856,
 0.736,
 2.0444444444444443,
 2.5555555555555554,
 3.066666666666667,
 2.4864864864864864,
 3.68,
 3.066666666666667,
 1.5333333333333334,
 2.3,
 1.84,
 4.0,
 1.15,
 2.7058823529411766,
 1.2266666666666666,
 3.8333333333333335,
 2.358974358974359,
 4.380952380952381,
 2.6285714285714286,
 2.13953488372093,
 3.066666666666667,
 1.3142857142857143,
 1.84,
 2.25,
 2.0,
 1.125,
 6.0,
 1.3846153846153846,
 1.3846153846153846,
 2.5714285714285716,
 3.6,
 4.5,
 6.0,
 3.4615384615384617,
 3.0,
 6.923076923076923,
 2.0,
 3.4615384615384617,
 2.0454545454545454,
 2.3684210526315788,
 3.2142857142857144,
 2.8125,
 1.8,
 2.5714285714285716,
 2.5714285714285716,
 3.6,
 2.142857142857143,
 2.0,
 1.2857142857142858,
 3.0,
 1.2,
 1.6981132075471699,
 3.103448275862069,
 1.011111111111111,
 2.6,
 2.6,
 1.82,
 2.6,
 1.4,
 1.82,
 2.116279069767442,
 3.25,
 nan,
 4.55,
 2.275,
 3.033333333333333,
 1.4,
 5.352941176470588,
 nan,
 4.55,
 3.25,
 4.55,
 4.55,
 3.64,
 2.3947368421052633,
 0.7583333333333333,
 3.9565217391304346,
 1.8958333333333333,
 2.84375,
 1.82,
 3.25,
 3.033333333333333,
 3.64,
 10.625,
 5.666666666666667,
 3.8636363636363638,
 6.071428571428571,
 3.4,
 10.625,
 6.071428571428571,
 1.0625,
 9.444444444444445,
 6.538461538461538,
 5.0,
 8.5,
 5.3125,
 8.5,
 3.8636363636363638,
 2.125,
 5.666666666666667,
 5.0,
 2.65625,
 7.083333333333333,
 5.0,
 0.8333333333333334,
 nan,
 8.5,
 4.25,
 2.5757575757575757,
 1.7708333333333333,
 7.083333333333333,
 9.444444444444445,
 3.625,
 1.16,
 7.25,
 1.9333333333333333,
 6.6923076923076925,
 nan,
 3.9545454545454546,
 8.7,
 4.833333333333333,
 2.4857142857142858,
 2.4166666666666665,
 2.5588235294117645,
 1.2428571428571429,
 3.107142857142857,
 4.578947368421052,
 6.214285714285714,
 8.7,
 1.9333333333333333,
 2.71875,
 4.833333333333333,
 9.666666666666666,
 7.909090909090909,
 2.9,
 1.4838709677419355,
 2.3,
 1.393939393939394,
 2.875,
 1.3142857142857143,
 1.9166666666666667,
 1.2777777777777777,
 5.111111111111111,
 0.8761904761904762,
 0.9108910891089109,
 1.84,
 1.0823529411764705,
 2.6285714285714286,
 2.4210526315789473,
 2.8125,
 3.6,
 7.5,
 0.72,
 1.9565217391304348,
 3.103448275862069,
 5.294117647058823,
 1.0588235294117647,
 3.0,
 2.6470588235294117,
 4.090909090909091,
 2.5714285714285716,
 2.0,
 4.5,
 5.294117647058823,
 2.0,
 4.5,
 1.8,
 4.090909090909091,
 2.3076923076923075,
 2.5714285714285716,
 6.0,
 3.3333333333333335,
 1.3636363636363635,
 2.8125,
 4.5,
 0.72,
 5.625,
 2.142857142857143,
 4.090909090909091,
 nan,
 4.777777777777778,
 3.909090909090909,
 7.166666666666667,
 5.733333333333333,
 9.555555555555555,
 7.166666666666667,
 5.733333333333333,
 4.3,
 3.0714285714285716,
 8.6,
 1.2285714285714286,
 3.0714285714285716,
 7.818181818181818,
 2.8666666666666667,
 3.3076923076923075,
 5.733333333333333,
 3.739130434782609,
 nan,
 2.8666666666666667,
 8.6,
 7.166666666666667,
 6.615384615384615,
 5.733333333333333,
 2.388888888888889,
 4.3,
 nan,
 8.6,
 5.375,
 3.44,
 3.75,
 nan,
 3.75,
 2.727272727272727,
 nan,
 1.2857142857142858,
 0.7692307692307693,
 nan,
 5.625,
 3.0,
 4.5,
 2.5714285714285716,
 3.6,
 3.2142857142857144,
 6.0,
 0.6,
 2.0,
 3.0,
 4.7368421052631575,
 2.0,
 2.25,
 nan,
 3.6,
 2.25,
 6.0,
 2.142857142857143,
 3.103448275862069,
 2.142857142857143,
 5.0,
 5.625,
 2.25,
 nan,
 1.8,
 nan,
 2.5714285714285716,
 2.0,
 4.5,
 2.0454545454545454,
 4.090909090909091,
 nan,
 3.2142857142857144,
 3.3333333333333335,
 3.6,
 1.5,
 1.25,
 2.0454545454545454,
 3.2142857142857144,
 3.103448275862069,
 1.5517241379310345,
 6.0,
 3.103448275862069,
 2.0,
 1.2857142857142858,
 2.3076923076923075,
 nan,
 3.2142857142857144,
 1.875,
 1.8,
 3.9545454545454546,
 8.7,
 1.74,
 2.9,
 4.833333333333333,
 2.9,
 2.230769230769231,
 2.4857142857142858,
 2.9,
 3.782608695652174,
 4.833333333333333,
 2.9,
 4.35,
 3.48,
 4.35,
 1.74,
 1.74,
 5.8,
 nan,
 9.666666666666666,
 7.25,
 6.214285714285714,
 4.833333333333333,
 4.35,
 0.49714285714285716,
 7.25,
 1.45,
 4.35,
 5.8,
 2.4857142857142858,
 6.214285714285714,
 5.4375,
 5.8,
 6.214285714285714,
 2.175,
 3.0,
 5.8,
 1.5818181818181818,
 2.289473684210526,
 5.8,
 2.5588235294117645,
 4.833333333333333,
 3.2222222222222223,
 5.117647058823529,
 1.3384615384615384,
 6.6923076923076925,
 5.8,
 3.782608695652174,
 2.175,
 2.71875,
 5.4375,
 2.289473684210526,
 5.8,
 1.74,
 2.9,
 3.625,
 4.833333333333333,
 2.175,
 4.833333333333333,
 4.35,
 2.125,
 7.7272727272727275,
 5.0,
 1.7708333333333333,
 9.444444444444445,
 8.5,
 nan,
 9.444444444444445,
 4.473684210526316,
 5.666666666666667,
 3.6956521739130435,
 2.4285714285714284,
 2.8333333333333335,
 7.083333333333333,
 5.0,
 5.3125,
 5.666666666666667,
 8.5,
 2.073170731707317,
 8.5,
 5.3125,
 3.4,
 7.083333333333333,
 4.4,
 nan,
 3.52,
 4.4,
 1.6603773584905661,
 7.333333333333333,
 nan,
 6.285714285714286,
 7.333333333333333,
 4.0,
 3.3846153846153846,
 6.285714285714286,
 4.888888888888889,
 4.888888888888889,
 5.176470588235294,
 ...]

In [ ]:
# Map wine title with ratios
point_to_price_with_title = pd.Series(point_to_price_ratio.tolist(), index=reviews.title)
point_to_price_with_title.head()

title
Nicosia 2013 Vulkà Bianco  (Etna)                                                           NaN
Quinta dos Avidagos 2011 Avidagos Red (Douro)                                          5.800000
Rainstorm 2013 Pinot Gris (Willamette Valley)                                          6.214286
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)                    6.692308
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)    1.338462
dtype: float64

In [ ]:
point_to_price_with_title.max()

21.5

In [ ]:
highest_ratio = point_to_price_with_title[point_to_price_with_title == point_to_price_with_title.max()]
highest_ratio

title
Bandit NV Merlot (California)    21.5
dtype: float64

In [ ]:
highest_ratio.index[0]

'Bandit NV Merlot (California)'

In [ ]:
bargain_wine = highest_ratio.index[0]
bargain_wine

'Bandit NV Merlot (California)'

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)

In [ ]:
tropical = reviews.description.map(lambda desc: "tropical" in desc).sum()
fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([tropical, fruity], index=["tropical", "fruity"])

In [ ]:
descriptor_counts

tropical    3309
fruity      8358
dtype: int64

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [ ]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
reviews['points'].describe()

count    118560.000000
mean         88.433494
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [ ]:
def fix_points(row):
  if row.country == 'Canada':
    return 3
  elif row.points >= 95:
    return 3
  elif row.points >= 85:
    return 2
  else:
    return 1

In [ ]:
star_ratings = reviews.apply(fix_points, axis='columns')

In [ ]:
star_ratings

0         2
1         2
         ..
118559    2
118560    1
Length: 118561, dtype: int64

#Grouping and Sorting

In [ ]:
# Initial Setup
import pandas as pd
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [ ]:
# We can groupby to sort the data
reviews.groupby("points").points.count()

points
80     244
81     458
      ...
99      17
100     10
Name: points, Length: 21, dtype: int64

In [ ]:
# We can get the cheapest wine in each point value cat.
reviews.groupby('points').price.min()

points
80       5.0
81       5.0
       ...
99      75.0
100    150.0
Name: price, Length: 21, dtype: float64

In [ ]:
# We can select the name of the first wine reviewed from each winery
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 15340, dtype: object

In [ ]:
# We can also group by more than one column
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[406 rows x 13 columns]

In [ ]:
# We can use agg() to run different functions on DataFrame simultaneously
reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  2735   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine       8   6.0   10.0
Uruguay      83  10.0  130.0

[41 rows x 3 columns]

###Multi Indexing

In [ ]:
# Sometimes the groupby will give us a multiindex
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  2342
          Other              393
...                          ...
Uruguay   San Jose             3
          Uruguay             13

[406 rows x 1 columns]

In [ ]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [ ]:
# We can convert a multi index back to a regular index
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  2342
1    Argentina             Other   393
..         ...               ...   ...
404    Uruguay          San Jose     3
405    Uruguay           Uruguay    13

[406 rows x 3 columns]

###Sorting

In [ ]:
# We can sort the data to get the order we want ourselves using sort_values()
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country       province    len
287  Portugal  Vinho da Mesa      1
181    Greece  Sterea Ellada      1
..        ...            ...    ...
396        US     Washington   6231
374        US     California  26341

[406 rows x 3 columns]

In [ ]:
# sort_values() defaults to ascending sort so we can manually force the return to be descending
countries_reviewed.sort_values(by='len', ascending=False)

    country         province    len
374      US       California  26341
396      US       Washington   6231
..      ...              ...    ...
371  Turkey      Urla-Thrace      1
88    Chile  Sagrada Familia      1

[406 rows x 3 columns]

In [ ]:
# We can sort by index using sort_index()
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  2342
1    Argentina             Other   393
..         ...               ...   ...
404    Uruguay          San Jose     3
405    Uruguay           Uruguay    13

[406 rows x 3 columns]

In [ ]:
# We can even sort by more than one column at a time!
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   393
0    Argentina  Mendoza Province  2342
..         ...               ...   ...
405    Uruguay           Uruguay    13
400    Uruguay         Canelones    30

[406 rows x 3 columns]

##Your Turn

In [ ]:
#Initial Setup
import pandas as pd
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [ ]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

In [ ]:
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [ ]:
reviews.groupby('variety')['price'].agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
sorted_varieties = reviews.groupby('variety')['price'].agg([min, max]).sort_values(by=["min", "max"], ascending=False)

In [ ]:
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [ ]:
reviews.groupby("taster_name")["points"].mean()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [ ]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
reviews.groupby(["country", "variety"]).size().sort_values(ascending=False)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

#Data Types and Missing Values

In [1]:
import pandas as pd
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("max_rows", 5)

In [2]:
# We can look at the data type of a single column
reviews.price.dtype

dtype('float64')

In [3]:
# We can look at the data types of all the columns in the DataFrame
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

float64 : data being stored as 64-bit floating point number

int 64 : data being stored as 64-bit integer

Columns that are nothing but strings are given data type Object

In [4]:
# We can convert between data types of it makes sence
reviews.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [5]:
# Even a DataFrame or Series index has its own data type
reviews.index.dtype

dtype('int64')

###Missing Data

Missing data appears as NaN (Not a Number) values

NaN values are always of the float64 dtype

In [6]:
# Using pandas we can select all NaN entries using pd.isnull() or pd.notnull()
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [7]:
# We can replace all missing values using fillna()
reviews.region_2.fillna("Unknown")

0         Unknown
1         Unknown
           ...
129969    Unknown
129970    Unknown
Name: region_2, Length: 129971, dtype: object

In [8]:
# We also have the option of filling each missing value with the first non-null 
# value appearing after the given record in the DataBase; this is called
# backfilling

In [9]:
# We can also replace nonnull values using the replace() method
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

##Your Turn

In [10]:
# Initial Setup
import pandas as pd
reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
print("Setup complete")

Setup complete

What is the data type of the points column in the dataset?

In [11]:
reviews.points.dtype

dtype('int64')

Create a Series from entries in the points column, but convert the entries to strings. Hint: strings are str in native Python.

In [12]:
reviews.points.astype("str")

0         87
1         87
          ..
129969    90
129970    90
Name: points, Length: 129971, dtype: object

Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [15]:
reviews.price.isnull().sum()

8996

What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown. Sort in descending order. Your output should look something like this:


Unknown                    21247

Napa Valley                 4480

!                           ...  

Bardolino Superiore            1

Primitivo del Tarantino        1

Name: region_1, Length: 1230, dtype: int64

In [16]:
region_1_reviews = reviews.region_1.fillna("Unknown")

In [23]:
region_1_reviews.value_counts().sort_values(ascending=False)

Unknown        21247
Napa Valley     4480
               ...
Geelong            1
Paestum            1
Name: region_1, Length: 1230, dtype: int64

#Renaming and Combining