<a href="https://colab.research.google.com/github/Daniel-Benson-Poe/66DaysOfData/blob/main/Python_MiniCourse_on_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today we will be learning the ins and outs of basic Python and how we begin to tie Python into the vast world that is Data Science

#Hello, Python

In [ ]:
# Variable Assignment Numbers
spam_amount = 0

In [ ]:
# How do we output data?
print(spam_amount)

0

In [ ]:
# Learning a new data type - it's not just a number!
type(spam_amount)

int

An integer is a whole number; notice the lack of decimal places. It can be things like 1, 2, 5, 87, 12332, 6724235234, etc.

In [ ]:
# Another number type
type(19.95)

float

A float is a partial number, or a number with a decimal. Things like 12.2, 44.1, or even 5.0.

We can even perform calculations! How else did you think a calculator worked? We can do the following arithmetic:

Addition - a + b

Subtraction = a - b

Multiplication - a * b

True Division - a / b

Floor Division - a // b

Modulus - a % b

Exponentiation - a ** b

Negation - -a

In [ ]:
# Let's take a closer look at the difference of true division and floor division
# True division will always return a float
# Floor division will always return an integer rounded down
print(5 / 2)
print(6 / 2)
print(5 // 2)
print(6 // 2)

2.5
3.0
2
3

Built-in Functions for working with numbers:
min()
max()
abs()

In [ ]:
# We can receive the minimum of a group of numbers
print(min(1, 2, 3))

1

In [ ]:
# We can receive the maximum of a group of numbers
print(max(1, 2, 3))

3

In [ ]:
# We can receieve the absolute value of a given number
print(abs(32))
print(abs(-32))

32
32

int and float functions can be called to convert to the corresponding data type

In [ ]:
print(float(10))
print(int(3.33))
# EVEN STRINGS!
print(int('807') + 1)

10.0
3
808

###Your Turn
We are going to be writing some of our own code now. Are you ready?

In [ ]:
# create a variable called color with an appropriate value on the line below
# (Remember, strings in Python must be enclosed in 'single' or "double" quotes)
color = "Green"
print(color)

Green

In [ ]:
pi = 3.14159 # approximate
diameter = 3
# Create a variable called 'radius' equal to half the diameter
radius = diameter / 2
print(radius)

# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared
area = pi * (radius ** 2)
print(area)

1.5
7.0685775

In [ ]:
########### Setup code - don't touch this part ######################
# If you're curious, these are examples of lists. We'll talk about 
# them in depth a few lessons from now. For now, just know that they're
# yet another type of Python object, like int or float.
a = [1, 2, 3]
b = [3, 2, 1]

######################################################################

# Your code goes here. Swap the values to which a and b refer.
# If you get stuck, you can always uncomment one or both of the lines in
# the next cell for a hint, or to peek at the solution.
print(a, b)
a,b = b,a

print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

4. Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1.
Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [ ]:
total_candies = 91
DIVIDE_BY = 3
print(total_candies % DIVIDE_BY)

1

#Functions

Python has a built-in help function that allows you to get a closer look at what you are trying to do

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Defining Functions

We will create a function called least_difference that takes three arguments. A function is built with the format:

header introduced by def keyword
indented block of code following : is what runs when the function is called
return is a keyword that exits the function immediately and passes the value on the right hand side to the calling context
docstring, surrounded by three qutations (""" """) can be added in to explain the function and allow the help() function to return this explanation

In [ ]:
def least_difference(a, b, c):
  """Return the smallest difference between any two numbers among a, b, and c.

  >>> least_difference(1, 5, -5)
  4
  """
  diff1 = abs(a-b)
  diff2 = abs(b-c)
  diff3 = abs(a-c)
  return min(diff1, diff2, diff3)

In [ ]:
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7)
)

9 0 1

In [ ]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers among a, b, and c.

    >>> least_difference(1, 5, -5)
    4

We can pass in default arguments when creating our function

In [ ]:
def greet(who="Colin"):
  print("Hello,", who)

greet()
greet(who="Kaggle")
greet("world")

Hello, Colin
Hello, Kaggle
Hello, world

We can even have functions applied to functions!

In [ ]:
def mult_by_five(x):
  return 5 * x

def call(fn, arg):
  """Call fn on arg"""
  return fn(arg)

def squared_call(fn, arg):
  """Call fn on the result of calling fn on arg"""
  return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep='\n', # \n is newline character that starts a new lin e
)

5
25

In [ ]:
def mod_5(x):
  """Return the remainder of x after dividing by 5"""
  return x % 5

print(
    "Which number is biggest?",
    max(100, 51, 14),
    "Which number is the biggest modulo 5?",
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

###Your Turn!

In [ ]:
def round_to_two_places(num):
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    # Replace this body with your own code.
    # ("pass" is a keyword that does literally nothing. We used it as a placeholder
    # because after we begin a code block, Python requires at least one line of code)
    return round(num, 2)

In [ ]:
print(round_to_two_places(3.14159))

3.14

In [ ]:
def to_smash(total_candies, friends=3):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.
    
    >>> to_smash(91)
    1
    """
    return(total_candies % friends)

In [ ]:
print(to_smash(91))

1

#Booleans

A bool is a datatype with two possible values, True and False

In [ ]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

Comparison Operations

We can compare bits of data 

a == b - a equal to b

a < b - a less than b

a <= b - a less than or equal to b

a != b - a not equal to b

a > b - a greater than b

a >= b - a greater than or equal to b

Example function using comparison operations

In [ ]:
def can_run_for_president(age):
  """Can someone of the given age run for president in the US?"""
  # The US Constitution says you must be at least 35 years old
  return age >= 35

In [ ]:
print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

In [ ]:
def is_odd(n):
  return (n % 2) == 1

In [ ]:
print("Is 100 odd?", is_odd(100))
print("Is -1 odd?", is_odd(-1))

Is 100 odd? False
Is -1 odd? True

We can combine boolean values to check even more conditional statements

In [ ]:
def can_run_for_president(age, is_natural_born_citizen):
  """Can someone of the given age and citizenship status run for president in the US?"""
  return is_natural_born_citizen and (age >= 35)

In [ ]:
print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

Conditional Statements (If-Else)

In [ ]:
def inspect(x):
  if x == 0:
    print(x, "is zero")
  elif x > 0:
    print(x, "is positive")
  elif x < 0:
    print(x, "is negative")
  else:
    print(x, "is unlike anything I've ever seen...")

In [ ]:
inspect(0)

0 is zero

In [ ]:
inspect(-15)

-15 is negative

###Your Turn

define a function called sign which takes a numerical argument and returns -1 if it's negative, 1 if it's positive, and 0 if it's 0.

In [ ]:
def sign(num):
  if num == 0:
    return 0
  elif num > 0:
    return 1
  else:
    return -1

In [ ]:
def to_smash(total_candies):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.
    
    >>> to_smash(91)
    1
    """
    if total_candies == 1:
        candy = "candy"
    else:
        candy = "candies"
    print("Splitting", total_candies, candy)
    return total_candies % 3

to_smash(91)
to_smash(1)

Splitting 91 candies
Splitting 1 candy

1

In this problem we'll be working with a simplified version of blackjack (aka twenty-one). In this version there is one player (who you'll control) and a dealer. Play proceeds as follows:

The player is dealt two face-up cards. The dealer is dealt one face-up card.
The player may ask to be dealt another card ('hit') as many times as they wish. If the sum of their cards exceeds 21, they lose the round immediately.
The dealer then deals additional cards to himself until either:
the sum of the dealer's cards exceeds 21, in which case the player wins the round
the sum of the dealer's cards is greater than or equal to 17. If the player's total is greater than the dealer's, the player wins. Otherwise, the dealer wins (even in case of a tie).
When calculating the sum of cards, Jack, Queen, and King count for 10. Aces can count as 1 or 11 (when referring to a player's "total" above, we mean the largest total that can be made without exceeding 21. So e.g. A+8 = 19, A+8+8 = 17)

For this problem, you'll write a function representing the player's decision-making strategy in this game. We've provided a very unintelligent implementation below:

In [ ]:
def should_hit(dealer_total, player_total, player_low_aces, player_high_aces):
    """Return True if the player should hit (request another card) given the current game
    state, or False if the player should stay.
    When calculating a hand's total value, we count aces as "high" (with value 11) if doing so
    doesn't bring the total above 21, otherwise we count them as low (with value 1). 
    For example, if the player's hand is {A, A, A, 7}, we will count it as 11 + 1 + 1 + 7,
    and therefore set player_total=20, player_low_aces=2, player_high_aces=1.
    """
    return (player_total < 17) or (player_total < dealer_total)

#Lists

Lists can be numeric:

In [ ]:
primes = [2, 3, 5, 7]

Lists can be strings:

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

Lists can be made of lists!

In [ ]:
hands = [
         ['J', 'Q', 'K'],
         ['2', '2', '2'],
         ['6', 'A', 'K'],
]

Lists can contain a mix of different things

In [ ]:
my_favorite_things = [32, "raindrops on roses", help]

We use indexing to access individual elements from a list

In [ ]:
planets[0]

'Mercury'

In [ ]:
planets[-1]

'Neptune'

We can use slicing to access groups of elements from a list

In [ ]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [ ]:
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

We can change individual items in a list

In [ ]:
print(planets)
planets[3] = "Malacandra"
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Lists have their own functions as well!

In [ ]:
# We can find the length of a list
len(planets)

8

In [ ]:
# We can sort a list
print(planets)
print(sorted(planets))

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Earth', 'Jupiter', 'Malacandra', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [ ]:
# We can sum up a list of numbers
primes = [2, 3, 5, 7]
sum(primes)

17

In [ ]:
# We can find the max number in a list of numbers
max(primes)

7

#Loops and List Comprehension

You can use loops to repeatedly execute code

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
  print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

Loops can be used for iteration as well!

In [ ]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
  product = product * mult
product

360

You can use loops to loop through each character in a string

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the upercase letters in s, one at a time
for char in s:
  if char.isupper():
    print(char, end='')

HELLO

We can use a range to determine sequence of numbers

In [ ]:
for i in range(5):
  print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

While loops can be used to iterate through code repeatedly until a condition is met

In [ ]:
i = 0
while i < 10:
  print(i, end=' ')
  i += 1 #increase the value of i by 1 or our code will run forever

0 1 2 3 4 5 6 7 8 9

Here are some list comprehension examples now!

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehension with an if condition!

In [ ]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

List comprehension with some if condition filtering and some transformation

In [ ]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

###Your Turn

In [ ]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7."""
    for num in nums:
      if num % 7 == 0:
        return True
    
    return False

nums1 = [0, 1, 2, 3, 4, 5, 6, 8]
nums2 = [234, 1234, 75346, 12345, 8356]
nums3 = [2134, 623465, 87456, 7, 324]
print(has_lucky_number(nums1))
print(has_lucky_number(nums2))
print(has_lucky_number(nums3))

True
False
True

Run the code below to see what happens

In [ ]:
[1, 2, 3, 4] > 2

TypeError: ignored

In [ ]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    isGreaterThan = []
    for i in range(len(L)):
      if L[i] > thresh:
        isGreaterThan.append(True)
      else:
        isGreaterThan.append(False)
    return isGreaterThan

print(elementwise_greater_than([1, 2, 3, 4], 2))

[False, False, True, True]

In [ ]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    for i in range(len(meals) - 1):
      if meals[i] == meals[i+1]:
        return True

    return False

menu_is_boring(["Cottage Cheese", "Pancakes", "Pancakes", "Sausage", "Eggs", "Brownie", "Cake"])

True

In [ ]:
import random
def play_slot_machine():
  result = random.randrange(1, 10000)
  if result < 10:
    return 1
  elif result < 5:
    return 10
  elif result == 1:
    return 100
  else:
    return 0

In [ ]:
def estimate_average_slot_payout(n_runs):
    """Run the slot machine n_runs times and return the average net profit per run.
    Example calls (note that return value is nondeterministic!):
    >>> estimate_average_slot_payout(1)
    -1
    >>> estimate_average_slot_payout(1)
    0.5
    """
    net_total = 0
    for _ in range(n_runs):
      net_total -= 1
      net_total += play_slot_machine()
    return net_total/n_runs

estimate_average_slot_payout(999999)

-0.9990929990929991

#Strings and Dictionaries

The backslash character is used as an escape sequence allowing the program to ignore what would otherwise be an important symbol

In [1]:
print('what\'s up?') # \'
print("That's \"cool\"") # \"
print("Look, a mountain: /\\") # \\
print("1\n2 3") # \n

what's up?
That's "cool"
Look, a mountain: /\
1
2 3

In [2]:
hello = "hello\nworld"
print(hello)

hello
world

Triple quote strings allow us to use newlines literally - by pressing enter on the keybaord

In [3]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

The print function automatically creates a newline character unless we specify a value for the end keyword argument

In [4]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

Strings contain methods much like lists do.

In [6]:
# We can uppercase the whole string
claim = "Pluto is a planet!"
print(claim)
claim.upper()

Pluto is a planet!

'PLUTO IS A PLANET!'

In [7]:
# We can lowercase the whole string
print(claim)
claim.lower()

Pluto is a planet!

'pluto is a planet!'

We can search a string for the first index of an ocurring substring

In [9]:
claim.index('plan') 
# the substring 'plan' starts at index 11 of claim and goes to index 14

11

In [12]:
# We can check to see if the claim string starts with the value of planet
planet = "Pluto"
print(planet)
claim.startswith(planet)

Pluto

True

In [13]:
# We can check if the string ends with a particular substring
print(claim.endswith('planet'))
# Note this is false because it does not include the exclamation mark
print(claim.endswith('planet!'))

False
True

We can split a string up into seperate parts and create a list out of those parts

In [14]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

We can also choose to split on something other than whitespace, which is the default

In [15]:
datestr = '1056-01-31'
year, month, day = datestr.split('-')
print(year, month, day)

1056 01 31

We can use the join method to join a list of strings together to make one longer string

In [20]:
'/'.join([month, day, year])

'01/31/1056'

We can format our strings

In [21]:
# We can concatenate strings together
planet + ', we miss you.'

'Pluto, we miss you.'

In [22]:
# We have to make sure when we are concatenating that all content is of the string type
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

str.format() can make formating much easier

In [23]:
"{}, you'll always be the {}th planet to me.".format(planet, position)
# Note the position of the brackets must be in the same order as the variables we want to format into the string

"Pluto, you'll always be the 9th planet to me."

In [24]:
# Here's a better look into what .format() can do
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points    3 decimal points, format as percent      Seperate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(planet, pluto_mass, pluto_mass/earth_mass, population,)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [25]:
# We can specify the format() arguments using their index
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

###Dictionaries
These are structures that are used to map keys to values

In [27]:
numbers = {'one':1, 'two':2, 'three':3}
# 'one', 'two', and 'three' are the keys and 1, 2, and 3 are the values

In [29]:
numbers['one']
# We search for the value of the 'one' key

1

In [30]:
# We can add a new key, value pair using the same syntax
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [31]:
# We can also change the value associated with an existing key
numbers['one'] = 'Pluto'
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

With dictionaries we can use dictionary comprehension just like list comprehension!

In [32]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

We can use the in operator to see if something is a key in a dictionary

In [33]:
'Saturn' in planet_to_initial

True

In [34]:
'Betelgeuse' in planet_to_initial

False

We can use a for loop to loop over a dictionary's keys

In [35]:
for k in numbers:
  print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

We can access the entire collection of keys or values of a dictionary using dict.keys() and dict.values()

In [36]:
# Get all the initials, sort them alphabetically, and put them in a space-seperated string
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

We can use dict.items() to iterate over both the keys AND values of a dictionary simultaneously

In [37]:
# Notice we have to include two variables when using .items()
# The first variable always correlates to the key
# The second variable always correlates to the value
for planet, initial in planet_to_initial.items():
  print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

### Your Turn

There is a saying that "Data scientists spend 80% of their time cleaning data, and 20% of their time complaining about cleaning data." Let's see if you can write a function to help clean US zip code data. Given a string, it should return whether or not that string represents a valid zip code. For our purposes, a valid zip code is any string consisting of exactly 5 digits.

In [ ]:
help(str)

In [39]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return (zip_code.isnumeric()) and (len(zip_code) == 5)

In [41]:
is_valid_zip('84044')

True

In [42]:
is_valid_zip('A234')

False

A researcher has gathered thousands of news articles. But she wants to focus her attention on articles including a specific word. Complete the function below to help her filter her list of articles.

Your function should meet the following criteria:

Do not include documents where the keyword string shows up only as a part of a larger word. For example, if she were looking for the keyword “closed”, you would not include the string “enclosed.”
She does not want you to distinguish upper case from lower case letters. So the phrase “Closed the case.” would be included when the keyword is “closed”
Do not let periods or commas affect what is matched. “It is closed.” would be included when the keyword is “closed”. But you can assume there are no other types of punctuation.

In [43]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    index_list = []
    for i in range(len(doc_list)):
      if keyword in doc_list[i] or keyword.capitalize() in doc_list[i]:
        temp_list = doc_list[i].split()
        for word in temp_list:
          word = word.strip(',').strip('.')
          if word.lower() == keyword:
            index_list.append(i)
            break
    
    return index_list

In [44]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'casino')

[0]

In [45]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car from the casino", "Casinoville"]
word_search(doc_list, 'casino')

[0, 1]

Now the researcher wants to supply multiple keywords to search for. Complete the function below to help her.

(You're encouraged to use the word_search function you just wrote when implementing this function. Reusing code in this way makes your programs more robust and readable - and it saves typing!)

In [46]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    key_doc_dict = {}
    for key in keywords:
      key_doc_dict[key] = []
      for i in range(len(doc_list)):
        if key in doc_list[i] or key.capitalize() in doc_list[i]:
          temp_list = doc_list[i].split()
          for word in temp_list:
            word = word.strip(',').strip('.')
            if word.lower() == key:
              key_doc_dict[key].append(i)
              break

    return key_doc_dict

In [47]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}